services:
  app:
    build: .
    image: laravel-app
    container_name: laravel-app
    volumes:
      - .:/var/www
    networks:
      - cloudtech
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: root
    networks:
      - cloudtech
  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - .:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - cloudtech
networks:
  cloudtech:
    driver: bridge
